@media(width<=725px) {
    main {
        flex-direction: column;
    }

    .formulario .container-input .input {
        max-width: 90%;
    }

    .formulario .container-input p {
        margin-left: 17px;
    }

    .formulario .botao {
        max-width: 90%;
    }
}